<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aineet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1> Raaka-aineet</h1>
        <ul>
            <li th:each="raakaAine: ${raakaAineet}">
                <span th:text="${raakaAine.nimi}">RaakaAinenimi</span>
            </li>
        </ul>
        
        <p> Lisää uusi raaka-aine </p>
         <form method="POST" action="/ainekset">
            <input type="text" name="Raaka-aineen nimi"/><br/>
            <input type="submit" value="Lisää"/>
        </form>
        
        <p><a href="/">Siirry tarkastelemaan smoothieita.</a></p>
    </body>
</html>